@model Shared.Dtos.Response<List<WebUI.Models.Catalog.CourseViewModel>>




<div class="card">
    <div class="card-body">
        @if (Model.Data.Count < 0)
        {
            <span>Hiç bir kurs bulunamadı.</span>
        }
        else
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Kurs Adı</th>
                        <th>Açıklama</th>
                        <th>Fiyat</th>
                        <th>Süre (dk)</th>
                        <th>Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.Data)
                    {
                        <tr>
                            <td>@course.Name</td>
                            <td>@course.Description</td>
                            <td>@course.Price</td>
                            <td>@course.Feature.Duration</td>
                            <td>@course.Category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>
</div>