@model List<WebUI.Models.Catalog.CourseViewModel>




<div class="card">
    <div class="card-header">
        <div class="card-toolbar">
            <a class="btn btn-success" asp-controller="Courses" asp-action="Create">Kurs Ekle</a>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <span>Hiç bir kurs bulunamadı.</span>
        }
        else
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Kurs Adı</th>
                        <th>Açıklama</th>
                        <th>Fiyat</th>
                        <th>Süre (dk)</th>
                        <th>Kategori</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                            <td>
                                <img src="@course.Picture" class="img-thumbnail" style="width: 72px;" alt=""/>
                            </td>
                            <td>@course.Name</td>
                            <td>@course.Description</td>
                            <td>@course.Price</td>
                            <td>@course.Feature.Duration</td>
                            <td>@course.Category.Name</td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-controller="Courses" asp-action="Update" asp-route-id="@course.Id">Düzenle</a>
                                <a class="btn btn-danger btn-sm" asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>
</div>