@model List<WebUI.Models.Catalog.CourseViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4 class="card-text">Kurslar</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <img src="@item.StockPictureUrl" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.ShortDescription</p>
                                <h5 class="text-primary">@item.Price.ToString("C")</h5>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-dark" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">Detay</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

